# Copy this file to sdkconfig.env and fill in your real values
CONFIG_ESP_WIFI_SSID="Your_WiFi_SSID_here"
CONFIG_ESP_WIFI_PASSWORD="Your_WiFi_Password_here"

CONFIG_MQTT_BROKER_URI="mqtts://your-cluster.hivemq.cloud:8883"
CONFIG_MQTT_USERNAME="your-username"
CONFIG_MQTT_PASSWORD="your-password"